@model Polizia.Models.TipoViolazione

@{
    ViewData["Title"] = "Details Violazione";
}

<h1>Dettagli Violazione</h1>

<div>
    <h4>Tipo di Violazione</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdViolazione">Modifica</a> |
    <a class="btn btn-primary" asp-action="Index">Torna alla lista</a>
</div>

