@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p>Sistema di archivio dati della polizia di Rozzano</p>
    <p>
        <a class="btn btn-primary" asp-controller="Anagrafiche" asp-action="Index">Dati Anagrafici</a>
    </p>
    <p>
        <a class="btn btn-primary" asp-controller="TipiViolazioni" asp-action="Index">Dati Tipi di Violazioni</a>
    </p>
    <p>
        <a class="btn btn-primary" asp-controller="Verbali" asp-action="Index">Dati Verbali</a>
    </p>
    <p>
        <a class="btn btn-primary" asp-controller="Reports" asp-action="Index">Informazioni Extra</a>
    </p>
</div>

